.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
}

main {
  height: 98vh;
}

footer {
  padding-top: 5px;
}

.image-div {
  background-image: url(images/pattern-bg.png);
  background-size: cover;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header {
  color: white;
  font-weight: 400;
  font-size: 26px;
  padding: 10px;
  margin: 15px;
}

.input-field {
  display: flex;
  flex-direction: row;
}

.input-field input {
  height: 60px;
  width: 270px;
  border-radius: 20px 0 0 20px;
  border: white;
  padding: 0;
  color: hsl(0, 0%, 17%);
  font-size: 18px;
  text-indent: 25px;
}

.input-field input:hover,
.input-field button:hover {
  cursor: pointer;
}

.input-field button {
  height: 60px;
  width: 60px;
  border-radius: 0 20px 20px 0;
  border: black;
  background-color: black;
  color: white;
  font-size: large;
  padding: 0;
}

.output-field {
  box-sizing: border-box;
  margin: 20px;
  height: 300px;
  width: 330px;
  background-color: white;
  border: white;
  box-shadow: 0 2px 5px hsl(0, 0%, 89%);
  border-radius: 20px;
  text-align: center;
  padding: 8px;
  position: absolute;
  top: 150px;
  z-index: 1200;
}

.output-filed__section {
  margin: 15px;
}

.output-field__header {
  margin: 0;
  padding: 4px;
  color: hsl(0, 0%, 59%);
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2px;
}

.output-field__output {
  margin: 0;
  padding: 4px;
  color: hsl(0, 0%, 17%);
  font-size: 20px;
  font-weight: 500;
}

#map {
  height: calc(100% - 300px);
  z-index: 5;
}

@media (max-width: 600px) {
  .image-div {
    background-position: center;
  }
}

@media (min-width: 1000px) {
  .header {
    font-size: 38px;
    font-weight: 400;
  }

  .input-field input {
    width: 570px;
  }

  .output-field {
    width: 75%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    margin: 40px;
    top: 170px;
  }

  .output-filed__section {
    text-align: left;
    padding-left: 30px;
    margin: 30px 23px;
    border-left: 1px solid hsl(0, 0%, 89%);
  }

  .output-filed__section:first-child {
    border: none;
    padding-left: 10px;
  }

  .output-field__header {
    font-size: 15px;
  }

  .output-field__output {
    margin: 0;
    padding: 4px;
    color: hsl(0, 0%, 17%);
    font-size: 1.25rem;
    font-weight: 500;
  }
}

@media (min-width: 1200px) {
  .output-field__output {
    font-size: 1.5rem;
  }
}
